<div class="banner">
  <div class="container">
    <h1>The <strong>Ultimate Watch List</strong></h1>
    <h2>Keep track of all the movies you watched</h2>
    <a class="btn btn-ghost"><%= link_to 'Create a movie list', new_list_path %></a>
  </div>
</div>

<div class="cards">
<% @lists.each do |list| %>
  <div class="card-category" style="background-image: url(<%list.image%>)"><%= link_to list.name, list_path(list)%></div>
<% end %>
</div>
