<ul class="list-group">
  <% @lists.each do |list| %>
    <li class="list-group-item"><%= link_to list.name, list_path(list)%></li>
  <% end %>
</ul>

<%= link_to 'Create a movie list', new_list_path %>
